.gridwrapper {
	@include flexbox();
	margin-left: -0.5em;
	margin-right: -0.5em;
	> * {
		padding: 0.5em;
	}
	@for $i from 1 through 6 {
		&.w#{$i} > * {
			width: 100%/$i
		}
	}

	@media ( max-width: $media__medium ) {
		&.w1 > * {
			width: 100%;
		}
		&.w2 > *, &.w3 > *, &.w4 > *, &.w5 > *, &.w6 > * {
			width: 50%;
		}
	}
	@media ( max-width: $media__small ) {
		&.w1 > *, &.w2 > *, &.w3 > *, &.w4 > *, &.w5 > *, &.w6 > * {
			width: 100%;
		}
	}
}

.gridlayout {
	display: grid;
	grid-gap: 1em 1em;
	grid-template-columns: repeat( 4, 1fr );
}

/** Définition des tailles */
.gridlayout {
	/** Du parent */
	@for $i from 1 through 6 {
		&.grid-#{$i} {
			grid-template-columns: repeat( $i, 1fr );
		}

		/** Chaque enfant peut modifier sa propre taille */
		@for $y from 1 through 6 {
			@if ( $y <= $i ) {
				&.grid-#{$i} > .gridw-#{$y} {
					grid-column: auto / span $y;

					@if ( $y > 1 ) {
						@media ( max-width: $media__medium ) {
							grid-column: auto / span 2;
						}
					}
				}
			}
		}
	}
}
