body {
  color: #444;
}
.site-header {
  background: #fff;
  border-bottom: solid #f7f7f7 1px;
}
.site-header li > a {
  color: #030002;
}
.site-header .js-burger .entry-icon span {
  background: #030002;
}
.site-tools a {
  color: #030002;
}
.main-navigation .menu-item-depth-0 ul {
  background: #fff;
}
.eoxia-mega-menu {
  background: #fff;
  border-right: solid #f2f2f2 10px;
  border-bottom: solid #f2f2f2 10px;
  border-left: solid #f2f2f2 10px;
}
.eoxia-mega-menu .menu-item-depth-1 > a:after {
  background: #d9d9d9;
}
.site-boxfoot {
  background: #fafafa;
}
.widget.widget_calendar table a {
  color: #fff;
}
.site-footer {
  background: #444;
  color: #888;
}
.site-footer .widget-title {
  color: #fff;
}
.site-footer .widget-title:after {
  background: #fff;
}
.site-footer .widget {
  color: #fff;
}
.site-footer .widget a {
  color: #bbb;
}
.site-footer .widget a:hover {
  color: #fff;
}
.site-footer .wps-title,
.site-footer .wpshop_products_listing_price {
  color: #fff;
}
.site-footer select {
  color: #444;
}
.wps-numeration-cart {
  color: #fff;
}
.site-title a {
  color: #444;
}
