/* Base color if needed */
/* Base time if needed */
/* Base transition if needed */
/* Base font to calc rem/em */
/* calc em */
/* calc line-height */
/* calc rem */
body {
  font-family: 'Hind Vadodara', sans-serif;
  color: #666;
}
.section-title,
.entry-title,
.widget-title {
  position: relative;
  padding-bottom: .15em;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  margin-top: -0.2em;
}
.section-title:after,
.entry-title:after,
.widget-title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: .1em;
  width: 2em;
  opacity: .25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  background: #666;
}
.site-width {
  max-width: 1600px;
  max-width: 100rem;
}
/* header */
.site-header .menu-item-depth-0 > a {
  font-size: 13.6px;
  font-size: .85rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2em 1em;
}
.eoxia-mega-menu .menu-item-depth-1 > a {
  position: relative;
  font-size: 1.75em;
  padding-bottom: 8px;
  padding-bottom: .5rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.eoxia-mega-menu .menu-item-depth-1 > a:after {
  content: '';
  display: block;
  height: 4px;
  width: 1em;
  position: absolute;
  bottom: 0;
  left: 16px;
  left: 1rem;
}
.eoxia-mega-menu .menu-item-depth-2 > a {
  text-transform: uppercase;
}
.eoxia-mega-menu .menu-depth-3 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  margin-top: 8px;
  margin-top: .5rem;
  font-size: .9em;
}
.eoxia-mega-menu .menu-depth-3 a {
  color: #999;
}
.diaporama-item-content {
  right: 4em;
  color: #fff;
  text-align: center;
}
.diaporama-item-content .diaporama-title {
  font-size: 4em;
  line-height: 1;
  color: #fff;
}
@media (max-width: 60em) {
  .diaporama-item-content .diaporama-title {
    font-size: 3.25em;
  }
}
@media (max-width: 40em) {
  .diaporama-item-content {
    left: 2em !important;
    right: 2em;
  }
  .diaporama-item-content .diaporama-title {
    font-size: 2.5em;
  }
}
@media (max-width: 30em) {
  .diaporama-item-content .diaporama-title {
    font-size: 1.75em;
    margin-bottom: .5em;
  }
}
@media (max-width: 20em) {
}
.main-content .diaporama-wrapper img {
  min-width: 60em;
}
#sidebar .diaporama-wrapper img {
  min-width: inherit;
}
.owl-prev,
.owl-next {
  color: #fff;
}
/* Flexible */
.flexible-wysiwyg {
  padding: 2em 0;
}
/* */
/* Articles */
article .attachment-thumb-blog {
  width: 100%;
}
/* Blocs */
.bloc-item.-m-std .bloc-item-thumbnail {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* .boxfoot */
.site-boxfoot {
  padding: 32px 0;
  padding: 2rem 0;
}
/* .footer */
.site-footer {
  padding: 32px 0;
  padding: 2rem 0;
}
.site-footer .gridwrapper {
  margin: 0;
}
/* Widgets */
.widget .alerte {
  margin: 0;
}
.widget .socializer-wrapper {
  margin-top: 1em;
}
.social-item:first-child i {
  margin-left: 0;
}
/* Patch demo */
.-background .bloc-item .bloc-title {
  font-size: 2em;
}
.content .flickity-enabled {
  margin-bottom: 2em;
}
.flickity-prev-next-button {
  width: 1.75em !important;
  height: 1.75em !important;
}
@media (max-width: 30em) {
  .flickity-prev-next-button {
    display: none;
  }
}
.touch-navigation-content {
  padding-top: 64px;
  padding-top: 4rem;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}
.touch-navigation-content .site-tools {
  margin: 32px 0;
  margin: 2rem 0;
}
.touch-navigation-content .site-tools a {
  color: #fff;
}
.single-post .entry-header .post-meta {
  position: absolute;
  top: 5em;
  left: 0;
  background: white;
  padding: 1em 1em 0 2em;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}
.single-post .entry-header img {
  margin-bottom: 1em;
}
/* */
