/*--------------------------------------------------------------
# WordPress Menu without the Beflex Mega Menu
--------------------------------------------------------------*/
#main-navigation .simple-navigation {
	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	// > li li a {
	// 	color: rgba(255,255,255,1);
	// 	@include transition();
	// 	&:hover {
	// 		color: rgba(255,255,255,0.4);
	// 	}
	// }

	// premier niveau
	> li {
		float: left;
		position: relative;

		> a {
			padding: 2.4em 1.4em;
			height: 100%;
			display: block;
			text-transform: uppercase;
			color: $color__text-main;
			@include transition();
			@include font-size(0.9);
			font-weight: 600;
		}
		&.current_page_item > a,
		&.current-menu-item > a,
		&.current_page_ancestor > a,
		&.current-menu-ancestor > a {
			color: $color__primary;
		}
	}

	// second niveau
	> li:hover > .sub-menu {
		opacity: 1;
		top: 100%;
		pointer-events: all;
	}
	> li > .sub-menu {
		position: absolute;
		opacity: 0;
		top: 110%;
		pointer-events: none;
		@include transition();
		background: #2b2b2b;

		> li {
			position: relative;
			&:first-child > a {
				padding-top: 1.4em;
			}
			&:last-child > a {
				padding-bottom: 1.4em;
			}
		}
		a {
			padding: 0.6em 1.6em;
			display: inline-block;
			width: 160px;
			color: rgba(255,255,255,0.8);
			@include font-size(0.9);
			text-transform: uppercase;
			@include transition();
			&:hover {
				color: rgba(255,255,255,0.4);
			}
		}
	}

	// troisieme niveau
	> li li:hover > .sub-menu {
		opacity: 1;
		left: 100%;
		pointer-events: all;
	}
	> li li > .sub-menu {
		position: absolute;
		opacity: 0;
		top: 0;
		left: 110%;
		pointer-events: none;
		@include transition();
		border-left: 1px solid rgba(0,0,0,0.1);
		background: #2b2b2b;
		padding: 0.8em 0;
	}

	li.menu-item-has-children {
		> a:after {
			display: block;
			font: normal normal normal 14px/1 FontAwesome;
			display: inline-block;
			vertical-align: middle;
		}
	}
	// Fleche Sous menu, premier niveau
	> li.menu-item-has-children {
		> a:after {
			content: $fa-var-angle-down;
			margin-left: .5em;
			margin-bottom: .25em;
			color: rgba(0,0,0,.4);
		}
		&:hover > a:after {
			content: $fa-var-angle-up;
		}
	}
	// Fleche Sous menu, second niveau
	> li .sub-menu > li.menu-item-has-children {
		> a:after {
			content: $fa-var-angle-right;
			position: absolute;
			right: 1em;
			margin-bottom: .25em;
			color: rgba(255,255,255,.4);
		}
	}
}
