/*--------------------------------------------------------------
# Site container
--------------------------------------------------------------*/


/** WordPress 5.9.0-Beta3 : Fix site padding */
.wp-site-blocks > [class*="wp-container"]:not(.wp-block-template-part) {
  padding-left: 1.5em;
  padding-right: 1.5em;

  .alignfull {
    margin-left: calc( -100vw / 2 + 100% / 2 ) !important;
    width: 100vw !important;
  }
}

