/**
 * Dark theme CSS
 */

/** General */
body {
	background: #0e0e0e;
	color: #fff;
}
input:not([type="submit"]), textarea {
	background: #1a1a1b;
	color: #fff;
	border: 1px solid #2f2f2f;
}
pre {
	color: #000;
}

/** Header */
#masthead {
	background: #0e0e0e;
	border-bottom: solid #1a1a1b 1px;
}
#masthead .site-tool > a {
	color: rgba(255,255,255,0.7);
}
#masthead .site-tool > a:hover {
	color: rgba(255,255,255,1);
}
#masthead .site-branding .site-title a {
	color: #fff;
}

/** Navigation */
#main-navigation .simple-navigation > li > a {
	color: rgba(255,255,255,0.8);
}
#main-navigation .menu-item-depth-0 > .menu-link {
	color: rgba(255,255,255,0.8);
}
.site-navigation .menu-toggle {
	color: rgba(255,255,255,0.7);
}
.site-navigation .menu-toggle:hover {
	color: rgba(255,255,255,1);
}

/** Footer */
#boxfoot {
	background: #1a1a1b;
}
#colophon {
	background: #060606;
}
